<!DOCTYPE html>
<html>
	<head>
		<title>机组详细</title>
		<#include "/header.html">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
	    
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
		<link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
		<script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
	    
		<style type="text/css">
			.small-box{
				margin-left: 5px !important;
				margin-right: 5px !important;
				font-size: 12px !important;
			}
			.inner{
				padding: 1px !important;
			}
			.small-box p{
				margin:0 0 5px !important;
			}
		</style>
	</head>

	<body>
	<div class="content-wrapper" id="rrapp" style="margin-left: 0px;">
	<section class="content">
		<div class="box box-info">
		<div class="box-header with-border">
              <!-- <h3 class="box-title">Horizontal Form</h3> -->
              <div class="pull-left">
                <button type="button" class="btn btn-box-tool" @click="goUrl"><i class="fa fa-chevron-left"></i></button>
              </div>
         </div>
         
	  <div class="box-body">   
		<div class="row" style="border: none;">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h4>发电机</h4>
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              <p>5</p>
              <p>6</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h4>水轮机</h4>
              <p>7</p>
              <p>8</p>
              <p>9</p>
              <p>10</p>
              <p>11</p>
	          <p>12</p>
	          <p>13</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h4>并网参数</h4>
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              <p>5</p>
              <p>6</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-purple">
            <div class="inner">
              <h4>水位</h4>
              <p>14</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
      </div>
      </div>
      
      </div>
      </section>
      </div>
      
      <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/vue.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/router.js"></script>
	  <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/app.js"></script>
	  <script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
		<script>
		$(document).ready(function() {
		});
		var vm = new Vue({
			el:'#rrapp',
			data:{
				user:{}
			},
			methods: {
				getUser: function(){
					$.getJSON("${request.contextPath}/sys/user/info?_"+$.now(), function(r){
						vm.user = r.user;
					});
				},
				goUrl:function(){
					parent.location.href ='home.html';
				},
				toMyInfo: function(){
					window.location.href = "${request.contextPath}/baspatient/toMyInfo";
		        },
		        getDetailed: function(){
		        	console.log("自动刷新~");
		        	var data = "deptId=1&groupId=3";
		        	
		         	$.ajax({
		        		type: "GET",
		        		url: baseURL + "crewDetailed/getDetailed",
		        		data: data,
		        		type : 'post',
		        		success : function(data) {
		        			//获得div数组
		        			var divArray = $(".inner");
		        			for(var i = 0 ; i < divArray.length ; i++){
		        				//获得p标签数组
		        				var pArray = $(divArray[i]).find("p");
		        				for(var j = 0 ; j < pArray.length ; j++){
		        					//根据模版匹配对应信息
		        					for(var x = 0 ; x < data.length ; x++){
		        						if($(pArray[j]).html() == data[x].type_id){
		        							$(pArray[j]).text(data[x].type_name + ":" + data[x].param_value);
		        						}
		        					}
		        				}
		        			}
		        		}
		        	});
		        },
		        cxtTimer: function(){
		        	var ref = "";
		        	ref = setInterval(() => { this.getDetailed(); }, 60*1000);
		        }
			},
			created: function(){
				this.getUser();
				this.getDetailed();
				
				//启动定时器
				this.cxtTimer();
			}
		});
		</script>
	</body>
</html>
