<!DOCTYPE html>
<html>
	<head>
		<title>数据明细</title>
		<#include "/nd2_header.html">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	</head>

<body>
	<div id="rrapp" data-role="main" class="ui-content" data-inset="false" data-title="数据明细">
	  <input id="groupId" type="hidden" class="form-control" value="${Session.groupId}"/>
	
		<!-- 头部导航header -->
		<div data-role="header" data-position="fixed" class="head-li">
			<a href="#" class="ui-btn ui-btn-left" @click="goUrl"><i class="zmdi zmdi-arrow-back zmd-lg zmd-lg"></i></a>
			<h1>数据明细</h1>
		</div>
		
		<!-- content -->
			<ol data-role="listview" data-icon="false" class="ui-listview">
				<li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-first-child">
					水力系统
				</li>
				<li class="ui-li-static ui-body-inherit">励磁电流</li>
				<li class="ui-li-static ui-body-inherit">励磁电压</li>
				<li class="ui-li-static ui-body-inherit">水温</li>
				<li class="ui-li-static ui-body-inherit">水位</li>
				<li class="ui-li-static ui-body-inherit">流量</li>
				<li class="ui-li-static ui-body-inherit">高程</li>
				<li class="ui-li-static ui-body-inherit">额定转速</li>
				<li class="ui-li-static ui-body-inherit">有功功率</li>
				<li class="ui-li-static ui-body-inherit ui-last-child">无功功率</li>
			</ol>	
	</div>
		<script>
		$(document).ready(function() {
		});
		var vm = new Vue({
			el:'#rrapp',
			data:{
				user:{}
			},
			methods: {
				getUser: function(){
					$.getJSON("${request.contextPath}/sys/user/info?_"+$.now(), function(r){
						vm.user = r.user;
					});
				},
				goUrl:function(){
					parent.location.href ='group_type.html';
				},
				toMyInfo: function(){
					window.location.href = "${request.contextPath}/baspatient/toMyInfo";
		        },
		        getDetailed: function(){
		        	var deptId;
		         	$.ajax({
		        		type: "GET",
		        		url: "${request.contextPath}/sys/user/info?_"+$.now(),
		        		async:false,
		        		//data: data,
		        		success : function(data) {
		        			deptId = data.user.deptId;
		        		}
		        	});
		         	
		        	var groupId = $("#groupId").val();
		        	var data = "deptId="+deptId+"&groupId="+groupId;

		         	$.ajax({
		        		type: "GET",
		        		url: "${request.contextPath}/crewDetailed/getDetailed",
		        		data: data,
		        		type : 'post',
		        		success : function(data) {
		        			//获得div数组
		        			var divArray = $(".card-title");
		        			for(var i = 0 ; i < divArray.length ; i++){
		        				//获得p标签数组
		        				var pArray = $(divArray[i]).find("h5");
		        				for(var j = 0 ; j < pArray.length ; j++){
		        					//根据模版匹配对应信息
		        					for(var x = 0 ; x < data.length ; x++){
		        						if($(pArray[j]).attr("typeId") == data[x].type_id){
		        							$(pArray[j]).text(data[x].type_name + ":" + data[x].param_value);
		        						}
		        					}
		        				}
		        			}
		        		}
		        	});
		        },
		        cxtTimer: function(){
		        	var ref = "";
		        	ref = setInterval(() => { this.getDetailed(); }, 1000);
		        }
			},
			created: function(){
				this.getUser();
				this.getDetailed();
				
				//启动定时器
				this.cxtTimer();
			}
		});
		</script>	
</body>
</html>
