<!DOCTYPE html>
<html>
	<head>
		<title>机组详细</title>
		<#include "/header.html">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
	    
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
		<link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
		<script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
	    
		<style type="text/css">
			.small-box{
				margin-left: 5px !important;
				margin-right: 5px !important;
				font-size: 12px !important;
			}
			.inner{
				padding: 1px !important;
			}
			.small-box p{
				margin:0 0 5px !important;
			}
		</style>
	</head>

	<body>
	<div class="content-wrapper" id="rrapp" style="margin-left: 0px;">
	<section class="content">
		<div class="box box-info">
		<div class="box-header with-border">
              <!-- <h3 class="box-title">Horizontal Form</h3> -->
              <div class="pull-left">
                <button type="button" class="btn btn-box-tool" @click="goUrl"><i class="fa fa-chevron-left"></i></button>
              </div>
         </div>
         
	  <div class="box-body">   
		<div class="row" style="border: none;">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h4>发电机</h4>
              <p>功率：</p>
              <p>电压：</p>
              <p>电流：</p>
              <p>功率因数：</p>
              <p>有功功率：</p>
              <p>无功功率：</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h4>水轮机</h4>
              <p>转速：</p>
              <p>开度：</p>
              <p>摆度：</p>
              <p>振动：</p>
              <p>推力轴瓦温度：</p>
	          <p>上导温度：</p>
	          <p>下导温度：</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h4>并网参数</h4>
              <p>功率：</p>
              <p>电压：</p>
              <p>电流：</p>
              <p>功率因数：</p>
              <p>有功功率：</p>
              <p>无功功率：</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-purple">
            <div class="inner">
              <h4>水位</h4>
              <p>水位高度：</p>
            </div>
            <a href="#" class="small-box-footer">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
      </div>
      </div>
      
      </div>
      </section>
      </div>
      
      <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/vue.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/router.js"></script>
	  <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/app.js"></script>
	  <script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
		<script>
		$(document).ready(function() {
		});
		var vm = new Vue({
			el:'#rrapp',
			data:{
				user:{}
			},
			methods: {
				getUser: function(){
					$.getJSON("${request.contextPath}/sys/user/info?_"+$.now(), function(r){
						vm.user = r.user;
					});
				},
				goUrl:function(){
					parent.location.href ='home.html';
				},
				toMyInfo: function(){
					window.location.href = "${request.contextPath}/baspatient/toMyInfo";
		        }
			},
			created: function(){
				this.getUser();
			}
		});
		</script>
	</body>
</html>
