<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<#include "/header.html">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
	    
	    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
		<link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
		<script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
		<script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
	    
	    
	    
		<style type="text/css">
			.info-box-text {
				white-space: normal !important;
			}
			
			.btn-app {
				margin: 10px;
				border:0px;
				color:window;
			}
		</style>
	</head>

	<body>
	<div class="content-wrapper" id="rrapp" style="margin-left: 0px;">
	<section class="content">
	<div class="row" style="border: none">
        <div class="col-md-12">
           <div class="box box-widget widget-user-2">
              
            <div class="widget-user-header bg-aqua">
            
           <div class="widget-user-image">
                <img class="img-circle" :src="user.headImgUrl">
           </div>
              <h3 class="widget-user-username">{{user.username}}</h3>
              <h5 class="widget-user-desc">{{user.deptName}}</h5>
            </div>
            
            <div class="box-footer">
		<div class="row"  style="border: none;" v-for="item in workGroupList" >
        
        <div class="col-lg-12 col-xs-12">
          <div class="small-box bg-green">
            <div class="inner">
              <h4>{{item.groupName}}</h4>

              <p>编号：{{item.groupCode}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer"  @click="goUrl">
              	更多信息 <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
      </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      </div>
      
      <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/vue.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/router.js"></script>
	  <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
	  <script src="${request.contextPath}/statics/libs/app.js"></script>
	  <script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
		<script>
		$(document).ready(function() {
		});
		var vm = new Vue({
			el:'#rrapp',
			data:{
				user:{},
				workGroupList:[]
			},
			methods: {
				getUser: function(){
					$.getJSON("${request.contextPath}/sys/user/info?_"+$.now(), function(r){
						vm.user = r.user;
						$.getJSON("${request.contextPath}/staworkgroup/listByDept?deptId="+r.user.deptId, function(r){
							vm.workGroupList = r.workGroupList;
						});
					});
				},
				goUrl:function(){
					parent.location.href ='group_type.html';
				},
				toMyInfo: function(){
					window.location.href = "${request.contextPath}/baspatient/toMyInfo";
		        },
		        toMyMemberList: function(){
		        	window.location.href = "${request.contextPath}/baspatmember/toMyMemberList";
		        }
			},
			created: function(){
				this.getUser();
			}
		});
		</script>
	</body>
</html>
