.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #fff !important;
}
.ui-content {
	padding: 0 !important;
}

.datainp_wrapper {
	width: 80% !important;
	margin: 0.3em auto !important;
	display: flex !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
}

.datainp_wrapper .datainp_li {
	flex: 3 !important;
}

.datainp_wrapper .search_li {
	flex: 1 !important;
}

.datep {
	margin-bottom: 40px !important;
	line-height: 24px !important;
	margin-right: 15px !important;
}

.wicon {
	background-repeat: no-repeat !important;
	background-position: right center !important;
}

.search_date {
	width: 50px !important;
	display: block !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	padding: .27em !important;
	text-align: center !important;
	height: 30px !important;
	line-height: 30px !important;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	-o-border-radius: 5px !important;
	background: #00B5F2 !important;
	color: #fff !important;
	margin: .5em !important;
	display: block !important;
}

.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #fff !important;
}

.datainp {
	width: 200px !important;
	border: 1px #ccc solid !important;
	padding: 0.5em !important;
	height: 30px !important;
	line-height: 30px !important;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	-o-border-radius: 5px !important;
}

.ui-input-text input,
.ui-input-search input {
	color: #666 !important;
}

.jedatebox {
	width: 100% !important;
	height: auto !important;
	position: static !important;
}

.jedatebox .jedatetop {
	background: #00B5F2 !important;
}

.jedatebox .jedaul li.action {
	background: #00B5F2 !important;
}

.jedatebox .jedaul li.prevdate,
.jedatebox .jedaul li.nextdate {
	color: #999 !important;
}

.jedatebox .jedaul li .marks {
	background: #FF6262 !important;
}

.jedatebot .jedatebtn span {
	background-color: #00B5F2 !important;
}

.jedatesety .ymdropul li.action,
.jedatesetm .ymdropul li.action {
	background: #00B5F2 !important;
}

.jedatetopym p span.jedateymchok {
	background-color: #00B5F2 !important;
}

.jedatetopym p span.jedateymchle {
	color: #00b5f2 !important;
}

.jedatetopym p span.jedateymchri {
	color: #00b5f2 !important;
}

.jedatesety .ymdropul,
.jedatesetm .ymdropul {
	box-shadow: 0 0 5px 0 #9e9e9e !important;
}

.jedateblue .jedaul li.other,
.jedateblue .jedaul li.other .nolunar,
.jedateblue .jedaul li.other .lunar {
	color: #cecece !important;
}
#footer a:hover{
	background: none !important;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #fff !important;
	transition: all 0.5s linear !important;
}
.class_wrapper_e{
	margin-bottom:70px  !important;
}
@keyframes searchDataHover {
	0% {
		background: #00b5f2 !important;
	}
	50% {
		background: rgba(0, 181, 242, 0.7) !important;
	}
	100% {
		background: #00b5f2 !important;
	}
}