#foo {
	background: #fff !important
}

.head_wrapper {
	width: 100% !important;
	height: 100px !important;
	background: -webkit-linear-gradient(270deg, rgba(0, 120, 198, 1) 0%, rgba(0, 120, 198, 1) 0%, rgba(0, 157, 209, 1) 100%, rgba(0, 157, 209, 1) 100%) !important;
	background: -moz-linear-gradient(180deg, rgba(0, 120, 198, 1) 0%, rgba(0, 120, 198, 1) 0%, rgba(0, 157, 209, 1) 100%, rgba(0, 157, 209, 1) 100%) !important;
	background: linear-gradient(180deg, rgba(0, 120, 198, 1) 0%, rgba(0, 120, 198, 1) 0%, rgba(0, 157, 209, 1) 100%, rgba(0, 157, 209, 1) 100%) !important;
}

.head_wrapper table {
	width: 100% !important;
	height: 100px !important;
	color: #fff !important;
	text-shadow: none !important;
}

.ui-body-a {
	border-radius: 0 !important;
	border: none !important;
}

.class_tips {
	border-bottom: 1px solid #f2f2f2 !important;
	height: 50px !important;
	line-height: 50px !important;
	font-size: 18px !important;
}

.class_tips i.iconfont {
	margin: 0 2px !important;
	color: #00B5F2 !important;
	font-size: 32px !important;
	position:relative;
	top:0.2em;
}

.class_tips .class_tips_days {
	font-size: 28px !important;
	color: #FF0000 !important;
	margin: 0 3px !important;
}

.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
	color: #fff !important;
}

.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #fff !important;
	font-weight: normal !important;
}

.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #fff !important;
}

.function_btn {
	text-align: center !important;
	margin: 0 3px !important;
	background: #00B5F2 !important;
	padding: 0.2em 0.5em !important;
	border-radius: 5px !important;
	color: #fff !important;
	/*font-size: 16px !important;*/
	text-shadow: none !important;
	line-height: normal !important;
}

.function_btn:hover {
	animation: function_btn 1s, 1s linear !important;
	transition: all 1s linear !important;
}

.class_tittle {
	border: none !important;
	border-bottom: 1px solid #ccc !important;
	height: 40px !important;
	line-height: 40px !important;
}

.class_tittle i.iconfont {
	margin: 0 7px 0 3px !important;
	color: #00B5F2 !important;
	font-size: 26px !important;
}

.d_name_wrapper {
	display: -webkit-flex !important;
	display: flex !important;
	border: none !important;
}

.department_name {
	flex: 1.5 !important;
	background: #00B5F2 !important;
	color: #fff !important;
	text-align: center !important;
	padding: 0 10px !important;
	height: 40px !important;
	margin: .4em 0 0 !important;
	border-bottom: 1px solid #00B5F2 !important;
}

.department_line {
	flex: 3 !important;
	margin: .4em 0 0 !important;
	height: 39px !important;
	border-bottom: 1px solid #00B5F2 !important;
}

.main {
	margin: 0 0 0.8em !important;
}

.main>div:last-child {
	margin-bottom: 70px !important;
}

.class_content {
	width: 95% !important;
	margin: 0 auto !important;
	padding: 0.5em !important;
	display: flex !important;
	background: #fff !important;
}

.class_content .class_time {
	flex: 2 !important;
	font-size: 14px !important;
	border-right: 1px solid #f1f1f1 !important;
	text-align: center !important;
	padding: 0 0.5em !important;
}

.class_content .class_name {
	flex: 5 !important;
	padding: 0 0.5em !important;
}

.class_content .class_name a {
	color: #666 !important;
	font-weight: normal !important;
	display: block !important;
}

.class_elective .cours_name .cours {
	font-size: 16px !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	width: 10em !important;
	overflow: hidden !important;
	display: block !important;
	float: left !important;
}

.class_elective .cours_name .cours_category {
	color: #00B5F2 !important;
	border: 1px solid #00B5F2 !important;
	padding: 0 3px !important;
	margin: -2px 0 0 5px !important;
	s display: block !important;
	float: left !important;
	text-align: center !important;
	font-size: 12px !important;
}

.cours_time {
	font-size: 12px !important;
}

.class_content p {
	height: 20px !important;
	line-height: 20px !important;
}

.class_content .cours_info {
	color: #999 !important;
	font-size: 12px !important;
}

.class_content .stu_num {
	margin: 2px 0 !important;
	font-size: 12px !important;
	color: #999 !important;
}

.class_content .class_time p:not(.department) {
	color: #666 !important;
}

.cours_data {
	color: #666 !important;
}

.class_wrapper .class_content {
	border-top: 1px solid #f1f1f1 !important;
}

.class_wrapper>div>div:first-child {
	border-top: none !important;
}

.mask {
	height: 100% !important;
	padding: 1em !important;
	background: #fff !important;
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	-ms-border-radius: 15px !important;
	-o-border-radius: 15px !important;
}

.mask>div {
	display: flex !important;
	justify-content: center !important;
	align-items: flex-start !important;
}

.mask .alert_function li {
	float: left !important;
	width: 50% !important;
}

.mask .clear_data {
	display: block !important;
	margin: 0.5em auto !important;
	width: 80% !important;
	background: none !important;
	color: #999 !important;
	border: 1px solid #999 !important;
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	-ms-border-radius: 15px !important;
	-o-border-radius: 15px !important;
	text-align: center !important;
	padding: 0.5em 0 !important;
}

.mask .search_cours {
	display: block !important;
	margin: 0.5em auto !important;
	width: 80% !important;
	background: #00B5F2 !important;
	color: #fff !important;
	border: 1px solid #00B5F2 !important;
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	-ms-border-radius: 15px !important;
	-o-border-radius: 15px !important;
	text-align: center !important;
	padding: 0.5em 0 !important;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.mask>div>.category_tittle {
	flex: 1 !important;
	line-height: 45px !important;
}

.ui-controlgroup,
fieldset.ui-controlgroup {
	margin: 0 !important;
}

.ui-input-text,
.ui-input-search {
	margin: 0 !important;
}

.ui-input-text input,
.ui-input-search input,
textarea.ui-input-text {
	padding: 0 0.4em !important;
	height: 30px !important;
	line-height: 28px !important;
	min-height: auto !important;
	font-size: 14px !important;
	color: #888 !important;
}

.teacher_name .category_content,
.search_cours_time .category_content {
	margin: 5px 0 0 !important;
}

.ui-overlay-shadow {
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .6) !important;
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, .6) !important;
	box-shadow: 0 0 12px rgba(0, 0, 0, .6) !important;
}

.mask>div .category_content {
	flex: 2 !important;
}

.ui-btn,
label.ui-btn {
	font-weight: normal !important;
}

.ui-btn {
	margin: .5em 0 !important;
	padding: .3em !important;
}

.mask label.ui-btn {
	background-color: #F6F6F6 !important;
	border: 1px solid #ddd !important;
	text-shadow: 0 0 0 #000 !important;
}

.mask label.ui-btn:hover {
	border: 1px solid #EDEDED !important;
}

.mask label.ui-btn.ui-btn-active {
	background: #00B5F2 !important;
	border: 1px solid #00B5F2 !important;
	color: #fff !important;
}

.search_cours_time ul li {
	float: left !important;
	text-align: center !important;
}

.search_cours_time ul .cours_time_input {
	width: 45% !important;
}

.class_wrapper .courses_wrapper {
	border-bottom: 1px solid #F2F2F2 !important;
}

.course_classify_w {
	width: 80% !important;
	margin: .75em auto .25em !important;
	display: flex !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	color: #999 !important;
}

.course_classify_w>div {
	flex: 1 !important;
	text-align: center !important;
	padding: 0.25em !important;
	cursor: pointer !important;
	border: 1px solid #00b5f2 !important;
}

.course_classify_w>div:first-child {
	border-radius: 10px 0 0 10px !important;
}

.course_classify_w>div:last-child {
	border-radius: 0 10px 10px 0 !important;
}

.department_course,
.personal_course {
	background: #fff !important;
}

.active_classify {
	background: #00B5F2 !important;
	color: #fff !important;
}

.more_timetable {
	float: right !important;
	margin-right: 1em !important;
}

.ui-panel-inner {
	padding: 0.25em 0 !important;
}

.panel_wrapper {
	z-index: 9999 !important;
	/*background: #F2F2F2 !important;*/
	border-right: 1px solid #dddddd !important;
	-webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, .6) !important;
	-moz-box-shadow: 0 5px 12px rgba(0, 0, 0, .6) !important;
	box-shadow: 0 5px 12px rgba(0, 0, 0, .6) !important;
}

.panel_wrapper .alert_function {
	width: 100% !important;
	position: fixed !important;
	bottom: 0 !important;
	z-index: 9999999999999 !important;
}

.panel_wrapper .alert_function li {
	float: left !important;
	width: 50% !important;
}

.panel_wrapper .clear_data {
	display: block !important;
	background: none !important;
	color: #999 !important;
	text-align: center !important;
	background: rgba(204, 204, 204, .6) !important;
}

.panel_wrapper .search_cours {
	display: block !important;
	background: #00B5F2 !important;
	color: #fff !important;
	text-align: center !important;
}

.panel_mask>div {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.panel_mask>div {
	padding: 0 1em !important;
}

.panel_mask>.two_p>div:first-child {
	flex: 1 !important;
}

.panel_mask>.two_p>div:last-child {
	flex: 2 !important;
}

.panel_mask label.ui-btn {
	background-color: #F6F6F6 !important;
	border: 1px solid #ddd !important;
	text-shadow: 0 0 0 #000 !important;
	width: 50px;
	text-align:center;
}

.panel_mask label.ui-btn.ui-btn-active {
	background: #00B5F2 !important;
	border: 1px solid #00B5F2 !important;
	color: #fff !important;
}

.ui-icon-carat-d:after {
	background-color: none !important;
	background-blend-mode: multiply !important;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	background-color: rgba(0, 0, 0, 0) !important;
	background-color: rgba(0, 0, 0, 0) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	-webkit-border-radius: 1em !important;
	border-radius: 1em !important;
}

.ui-icon-carat-d:after {
	background-image: url(../images/carat-d-gray.png) !important;
}
.end_time_wrapper{
	margin-bottom:70px !important;
}
.category_tittle{
	font-size:14px !important;
}
.ui-input-text:after, .ui-input-search:after {
 			background: none !important;
 		}
 		.ui-select .ui-btn select{
 			border:1px solid #999 !important;
 		}
 		.ui-input-text input, .ui-input-search input, textarea.ui-input-text.ui-textinput-autogrow {
    border-radius: 0px !important;
    border-bottom: 1px solid #f1f1f1 !important;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited, .ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    border-radius: 0px;
}
.ui-icon-carat-d:after{
	border-bottom: 1px solid #f1f1f1 !important;
}
.ui-mobile label, .ui-controlgroup-label, .ui-controlgroup-label legend {
    font-size: 14px;
    
}
.select_border_bottom{
	border-bottom: 1px solid #f1f1f1 !important;
	width:100%;
	height:1px;
	position:relative;
	top:-0.5em;
}

@keyframes function_btn {
	0% {
		background: #00B5F2 !important;
	}
	50% {
		background: #38c !important;
	}
	100% {
		background: #00B5F2 !important;
	}
}