@charset "utf-8";

/*------------------------------*//*------------------------------*//*------------------------------*/

*{
	text-shadow: none !important;
}

.ui-page {
	background-color: #EBEBEB;
}

.ui-bottom-sheet-link .footer-ico {
	color: #696969;
}

.ui-bottom-sheet-link .footer-ico-active {
	color: #3092e9;
}

.text-white{
	color: #FFF !important;
    text-shadow: none !important;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.li-bottom {
	border-bottom: 1px solid #EBEBEB !important;
	text-shadow: none !important;
}

.li-bottom .span-right {
	font-size: 16px !important;
	color: #9e9e9e !important;
}

/*首页header样式*/
.head-li {
	background: -webkit-linear-gradient(left,#228ec7, #73c7f8) !important; /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#228ec7, #73c7f8) !important; /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#228ec7, #73c7f8) !important; /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#228ec7, #73c7f8) !important; /* 标准的语法 */
}
/*------------------------------*/

/* 头像默认五个颜色值 */
.img-div {
	width: 65px !important;
	height: 65px !important;
	line-height: 65px !important;
	text-align: center !important;
	color: #FFFFFF !important;
	border-radius: 65px !important;
}

.header-0 {
	background-color: #5F70A7;
}

.header-1 {
	background-color: #F2725E;
}

.header-2 {
	background-color: #4DA9EB;
}

.header-3 {
	background-color: #17C295;
}

.header-4 {
	background-color: #5F70A7;
}
/* --------------------------------------- */

/* 菜单样式 */
.home-div {
	height: 30px;
	width: 50px;
	margin: 0 auto;
	background-image: url(../images/home.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.mess-div {
	height: 30px;
	width: 50px;
	margin: 0 auto;
	background-image: url(../images/mess.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.func-div {
	height: 30px;
	width: 50px;
	margin: 0 auto;
	background-image: url(../images/func.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.basic-div {
	height: 30px;
	width: 50px;
	margin: 0 auto;
	background-image: url(../images/basic.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.rkgl-div {
	background-image: url(../../common/images/rkgl.png);
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.knys-div {
	background-image: url(../../common/images/knys.png);
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.rckh-div {
	background-image: url(../../common/images/rckh.png);
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.ckgl-div{
	background-image: url(../../common/images/ckgl.png);
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}
/* --------------------------------------- */

/* 页面底部按钮样式风格 */
.bottom-button{
	background-color: #1fa8d5 !important;
	border-radius:0px !important;
	font-size: 16px !important;
	width: 100% !important;
	height: 30px !important;
	padding-left: 0px !important;
	line-height: 30px !important;
	color: #fff !important;
}

/* 顶部导航样式 */
.top-header{
	background-color: #1fa8d5 !important;
}

.a-class{
	border: 1px solid #EBEBEB !important;
	padding: 5px !important;
	margin: 5px 5px 5px 0px !important;
	font-size: 14px !important;
}
